<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8"/>
	<title>404</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>
</head>
<body>
	<header>
		<%-include("../Template/header")%>
	</header>
	<h1 style="padding-top: 100px">Eroare 404</h1>
	<h2 style="text-align: center">Incercati din nou!</h2>
</body>
</html>