<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Vizitarea orasului Berlin, capitala Germaniei">
	<meta name="keywords" content="Berlin,Germania,vizita,obiectiv,turist,catedrala,zid,palat,parlament,catedrala">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Berlin, Germania</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>	
</head>
<body>
	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
	<a href="#" class="scroll-up">^</a>
	<h1>Viziteaza Berlin, capitala Germaniei</h1>
	<figure class="add_padding">
		<img class="imagine" src="resurse/imagini/Berlin/berlin.jpg" alt="Berlin noaptea" title="Berlin noaptea">
		<figcaption>Berlin noaptea│&#169; scholty1970 / Pixabay</figcaption>
	</figure>
	<blockquote cite="http://www.tion.ro/cele-mai-frumoase-locuri-din-berlin-ce-sa-nu-ratezi-in-capitala-germaniei/1465771"><strong>Berlin</strong> este una dintre cele mai 
	mari capitale europene, cu o istorie pe cât de lungă pe atât de tumultoasă. Deși orașul datează din secolul 12, cea mai dificilă perioadă prin care a 
	trecut acest oraș a fost în timpul celui de-al Doilea Război Mondial și a deceniilor ce au urmat. Istoria acestui oraș și-a pus amprenta pe cultura, 
	arhitectura și viața localnicilor, făcând din Berlin una dintre cele mai moderne și interesante metropole din lume.</blockquote>
	<blockquote cite="http://www.tion.ro/cele-mai-frumoase-locuri-din-berlin-ce-sa-nu-ratezi-in-capitala-germaniei/1465771">Cu o populație de peste 3,5 
	milioane de locuitori, Berlin este un important centru cultural, artistic și economic care găzduiește anual nenumărate concerte, festivaluri și conferințe 
	de renume mondial. Cu o istorie atât de lungă nu este de mirare că străzile orașului sunt împânzite de clădiri vechi și monumente ce atestă momente cheie 
	din trecutul său.</blockquote>
	<blockquote cite="http://valizacucalatorii.ro/idei/city-break/experiente-de-bifat-berlin">Berlin este un oraş cu adevărat fascinant. Deşi nu e cea mai 
	frumoasă capitală europeană pe care o poţi vizita, acesta se remarcă prin caracterul cosmopolit, aerul cool, artiştii tineri şi, cel mai important, prin 
	parcursul său istoric: bombardat pe timpul războiului, dominat de politica hitleristă şi, mai apoi, divizat de zidul construit în timpul Războiului Rece.
	Toate acestea fac din Berlin o metropolă plină de viaţă, în care fiecare clădire spune o poveste diferită. Fie că e vorba de stilul baroc al monarhiei, 
	de blocurile socialiste sau de clădirile moderne din centru.</blockquote>
	<section>
		<h2>Obiective turistice</h2>
		<ol class="bookmark">
			<li><a href="#catedrala">Catedrala din Berlin</a></li>
			<li><a href="#insula">Insula Muzeelor</a></li>
			<li><a href="#parlament">Reichstag - Sediul Parlamentului German</a></li>
			<li><a href="#palat">Palatul Charlottenburg</a></li>
			<li><a href="#zid">Zidul Berlinului</a></li>
		</ol>	
	</section>
	<section>
		<h2>Obiective turistice</h2>
		<ol>
			<li id="catedrala">Catedrala din Berlin</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Berlin/catedrala_din_berlin.jpg" alt="Catedrala din Berlin" title="Catedrala din Berlin">
			<figcaption>Catedrala din Berlin│&#169; FelixMittermeier / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/catedrala-din-berlin.html"><strong>Catedrala din Berlin</strong> sau <strong>Berliner 
		Dom</strong> este una dintre cele 
		mai importante biserici protestante din Germania. Berliner Dom este o catedrala in stil baroc construita intre 1894 si 1905. Se afla situata pe o 
		insula de pe raul Spree, cunoscuta sub numele de Insula Muzeelor. Cladirea actuala este a treia biserica construita in aceasta locatie.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/catedrala-din-berlin.html">Prima biserica a fost construita aici in 1465. Aceasta 
		cladire oarecum modesta a servit mai tarziu drept biserica de curte a familiei Hohenzollern. Biserica a fost inlocuita de o catedrala ce a fost 
		construita intre 1745 si 1747 in stil baroc dupa un proiect al lui Johann Boumann. Mai apoi a fost remodelata intr-o cladire in stil clasic, intre 
		anii 1816 si 1822 dupa un proiect al arhitectului berlinez Karl Friedrich Schinkel. Din ordinul imparatului Wilhelm al II-lea cladirea a fost demolata 
		in 1894 si inlocuita de catedrala ce se gaseste si astazi aici. Mult mai mare decat predecesoarele sale, catedrala s-a dorit a fi un raspuns la 
		catedrala catolica din Roma, Basilica San Pietro. Catedrala din Berlin a fost construita in stil renascentist si proiectata de Julius Raschdorff. 
		Biserica are foarte ornamente pentru o catedrala protestanta. Constructia catedralei de 114m lungime si 73 latime s-a desfasurat intre anii 1894 si 
		1905.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/catedrala-din-berlin.html">In timpul celui de-al doilea razboi mondial, cladirea a 
		fost lovita de o bomba cu napalm care a dus la avarierea serioasa a Catedralei. Un acoperis temporar a fost instalat pentru a proteja ceea ce a mai 
		ramas in interiorul bisericii si in ciuda planurilor guvernului est german de a demola cladirea in 1975 a fost inceputa reconstructia. Restaurarea 
		interiorului a inceput in 1984 si in 1993 biserica a fost redeschisa. A fost iarasi sfintita in anul 1996 iar in timpul lucrarilor de renovare, 
		design-ul original a fost modificat intr-o forma simplicata. Mausoleul Hohenzollern ce se afla langa cladire a fost si el indepartat in timpul 
		acestor lucrari. Unul dintre punctele de atractie ale interiorului bisericii este orga construita de Wilhelm Sauer. Aceasta a fost facuta in 1905 si 
		are peste 7000 de tevi. O serie de membrii ai familiei Hohenzollern sunt inmormantati in biserica, printre ei numarandu-se Friedrich I si sotia sa 
		care sunt inmormantati intr-un sarcofag foarte frumos sculptat. Cel mai vechi mormant din Catedrala este cel al electorului de Brandenburg Johann 
		Cicero (1530). Altarul principal care a fost salvat dateaza din 1850. Vitraliile au fost create initial de Anton von Werner si au fost mai apoi 
		restaurate.</blockquote>
		
		<ol start="2">
			<li id="insula">Insula Muzeelor</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Berlin/insula_muzeelor.jpg" alt="Muzeul Bode" title="Muzeul Bode">
			<figcaption>Muzeul Bode, Insula Muzeelor│&#169; Photomat / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/insula-muzeelor.html"><strong>Insula muzeelor din Berlin</strong> a primit din partea UNESCO statutul 
		de membru al Patrimoniului Universal. Aceasta insula a muzeelor a fost proiectata pentru a fi "un sanctuar al artei si stiintei". Cele cinci muzee 
		care sunt incluse in Insula Muzeelor sunt localizate intre Kupfergraben si raul Spree. Acest grup extraordinar de muzee a fost inceput de Regele 
		Frederich Wilhelm al III-lea care a facut posibila constructia Muzeului Regal in 1830 – astazi Altes Museum (Vechiul Muzeu). Muzeul a fost construit 
		pentru a permite si publicului larg sa poata vedea comorile regale de arta ale Germaniei. Cu toate acestea insa, insula nu a fost conceputa pana in 
		jurul anului 1840, cand Fredrich August Stuler a facut propunerea de a crea un centru cultural pe insula, ideea laudata si aplaudata de toata lumea. 
		In 1859, Muzeul Nou a fost terminat pentru ca mai tarziu, in anul 1876, sa fie terminata si Vechea Galerie Nationala.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/insula-muzeelor.html">Muzeul Kaiserului Friedrich (astazi Muzeul Bode) a fost adaugat 
		in anul 1904 si ultimul muzeu, Muzeul Pergamon a fost si el terminat in anul 1930. Din pacate aproape 70% din cladiri au fost distruse in timpul celui 
		de-al doilea razboi mondial si dupa terminarea razboiului colectiile au fost impartite intre Berlinul de Est si cel de Vest.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/insula-muzeelor.html">La sfarsitul secolului al 20-lea un program de reconstructie si 
		re modernizare a fost initiat iar menirea sa a fost restaurarea celor cinci muzee. Vechea Galerie Nationala (Alte Nationalgalerie) a fost redeschisa 
		in 2001 cu mare pompa. Aici se gaseste una dintre cele mai mari colectii de sculpturi si picturi din secolul al 19-lea din Germania. Turistii vor gasi 
		numeroase opere de artisti germani din acel secol dar si cateva opere ale unor impresionisti francezi. Restaurat si redeschis in 1966, Muzeul Vechi 
		(Altes Museum) gazduieste exponate grecesti si romane desi a fost initial proiectat pentru a expune comorile artistice ale Familiei Regale. Construit 
		de cel mai mare arhitect al orasului, Karl Friedrich Schinkel, cladirea seamana cu un templu grecesc corintian. Muzeul s-a inchis in 2009 pentru noi 
		renovari.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/insula-muzeelor.html">Muzeul Bode s-a redeschis in 2006 dupa aproape 10 ani de renovari.
		Acest muzeu expune o colectie ampla de sculpturi, una dintre cele mai mari colectii numismatice din lume si o selectie de picturi de la Gemaldegalerie. 
		Muzeul Nou (Neues Museum) a fost redeschis in 2009 si gazduieste o colectie de opere de arta grecesti si egiptene. Acest muzeu are o legatura cu Altes 
		Museum. Cel mai celebru exponat al muzeului este bustul Reginei Nefertiti. In muzeul Pergamon se poate admira o colectie de antichitati grecesti si 
		babiloniene, printre care se numara si Poarta Ishtar din Babilon dar si enormul Altar Pergamon. Pe insula exista si alte cladiri importante. Una 
		dintre ele este Domul, Catedrala protestanta a Berlinului, construita la sfarsitul secolului al 18-lea ca o replica la Basilica San Pietro din Roma.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/insula-muzeelor.html">Chiar langa Catedrala din Berlin se gasea Stadtschloss, un palat 
		enorm din secolul al 19-lea. In 1950, cladirea care era considerata un simbol al militarismului prusac a fost demolata de Germania de Est si in 1976 
		a fost inlocuita de Palast der Republik, care in 2006 a fost si el demolat. In anul 2007 un proiect pentru reconstructia vechiului palat (Stadtschloss)
		a fost aprobata de Parlament. In apropierea fostului palat se afla Marstall, grajdurile regale. Cladirea mare in stil baroc este doar o aripa a 
		fostului complex construit in 1669 de arhitectul olandez Michael Matthias Smids. Cladirea este folosita astazi drept biblioteca si arhiva.</blockquote>
		
		<ol start="3">
			<li id="parlament">Reichstag - Sediul Parlamentului German</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Berlin/reichstag.jpg" alt="Reichstag, Parlamentul German" title="Reichstag, Parlamentul German">
			<figcaption>Reichstag│&#169; maja7777 / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/reichstag.html"><strong>Reichstag, sediul Parlamentului German</strong> este unul dintre cele mai 
		importante obiective turistice si istorice din Berlin.  Cladirea Parlamentului este in apropiere de Poarta Brandenburg si inainte de unificarea 
		Germaniei se afla chiar in apropiarea Zidului Berlinului. Dupa fondarea Imperiului German in 1872, a aparut o nevoie pentru o cladire mai mare pentru 
		Parlamentul din Berlin. Aveau sa mai treaca inca 10 ani pana cand s-a putut ajunge la un acord asupra proiectului. A fost organizata o competitie si 
		din 183 de participanti, proiectul lui Paul Wallot a fost ales. Arhitectul german a creat o cladire neo-renascentista impozanta, lunga de 137 de metri, 
		cu o latime de 97 de metri.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/reichstag.html">Cladirea a fost construita intre 1884 si 1894, fiind finantata in 
		principal cu bani din Franta, obtinuti in urma razboiului castigat de Prusia in 1871. Inscriptia “Dem Deutschen Volke” (Pentru poporul german) a fost 
		adaugata mai tarziu, in anul 1916, de catre imparatul Wilhelm al II-lea. Literele din bronz au fost facute din tunuri capturate de la francezi. In anul
		1933 un incendiu a izbucnit in cladire, distrugand mare parte din Reichstag. Si astazi este inca neclar cine a pus foc insa vina a fost data pe 
		comunisti. Acest eveniment a adus un plus partidului lui Hitler care a ajuns la putere la putin timp dupa asta. Cladirea a suferit si mai multe daune 
		la sfarsitul razboiului, atunci cand trupele sovietice au intrat in Berlin. Poza unui soldat al Armatei Rosii ridicand un steag sovietic pe Reichstag 
		este una dintre cele mai celebre imagini ale secolului 20 si simbolizeaza infrangerea Germaniei Naziste.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/reichstag.html">Dupa razboi, Reichstag a ajuns in Berlinul de Vest, chiar langa Zidul 
		Berlinului. A fost reconstruit intre 1958 si 1972 dar domul central si marea majoritate a ornamentatiilor au fost indepartate. In perioada in care 
		Germania a fost divizata, Parlamentul Germaniei de Vest se intrunea aici o data pe an, ca o modalitate de a arata ca Bonn este doar o capitala 
		temporara. Dupa unificare, s-a hotarat aproape imediat mutarea Bundestag-ului de la Bonn la Berlin. Decizia de mutare a avut drept urmare o noua 
		renovare a cladirii care a fost inceputa in 1995 si s-a finalizat in 1999. In urma unui proiect al lui Sir Norman Foster a fost adaugat un dom de 
		sticla deasupra salii plenare. Desi la inceput a fost subiectul unor controverse, domul a devenit una dintre cele mai reprezentative imagini ale 
		orasului. Din aprilie 1999, Reichstag-ul este din nou gazda pentru Bundestag. O parte a cladirii Reichstagului este deschisa publicului. Un lift 
		duce turistii pe acoperisul cladirii unde acestia se pot urca chiar pe dom cu ajutorul unei scari in spirala.</blockquote>
	
		<ol start="4">
			<li id="palat">Palatul Charlottenburg</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Berlin/palatul_charlottenburg.jpg" alt="Palatul Charlottenburg" title="Palatul Charlottenburg">
			<figcaption>Palatul Charlottenburg │&#169; BeLichtErstatter / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/palatul-charlottenburg.html"><strong>Schloss Charlottenburg</strong> este un palat in stil baroc ce 
		dateaza de la inceputul secolului al 18-lea si care se afla in cartierul Charlottenburg din vestul orasului. Cladirea a ars din temelii in timpul 
		celui de-al doilea razboi mondial insa a fost complet reconstruita. Charlottenburg este cel mai mare palat din Berlin. Partea centrala a fost initial 
		construita intre 1695 si 1699 ca si resedinta de vara pentru Sophie Charlotte, sotia electorului de Brandenburg, Frederick al III-lea.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/palatul-charlottenburg.html">Palatul proiectat de Johann Arnold Nering a fost extinsa 
		in scurt timp dupa ce Frederick a devenit primul Rege al Prusiei in 1701 sub numele de Friedrich I. Maestrul suedez Johann Friedrich Eosander von 
		Gothe a supraveghiat lucrarile de extindere care au inclus adaugarea unei cupole inalte de 48 de metri si constructia unei orangerii. O statuie a 
		zeitei Fortuna a fost amplasata in varful cupolei. In 1740 Frederick cel Mare – Regele Frederick al III-lea – a finantat extinderea aripii de est 
		pentru a compensa pentru aripa vestica care era mai lunga. Aceasta a fost finalizata sase ani mai tarziu dupa un proiect al lui Georg Wenzeslaus von 
		Knobelsdorff. Palatul a fost lovit in 1843 in timpul unui bombardament al aliatilor si un incendiu l-a distrus compet. Dupa razboi, palatul a fost 
		reconstruit foarte meticulos pentru a respecta specificatiile initiale.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/palatul-charlottenburg.html">Interiorul a fost si el reconstruit la fel de frumos cum 
		era inainte. Camerele regale sunt deschise vizitatorilor. Printre cele mai frumoase camere se numara Galeria de Stejar, o camera decorata cu grinzi de 
		stejar si picturi in ulei. Galeria de Portelan este decorata cu oglinzi si expune o serie de portelanuri chinezesti. Alte camere interesante sunt Sala 
		Alba, Galeria de Aur in stil rococo si Galeria Romanticilor, unde este expusa o colectie de tablouri ce dateaza din perioada romantica germana. De 
		notat este si Schlosskapelle, capela palatului ce a fost si ea complet reconstruita.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/palatul-charlottenburg.html">Parcul din spatele Palatului Charlottenburg a fost 
		initial amenajat in stil baroc frantuzesc. In secolele 18 si 19 parcul a fost transformat intr-o gradina mai putin formala. Odata cu reconstructia 
		de dupa razboi o mica parte a parcului a fost iarasi amenajata in stil francez. In acest parc superb se gasesc o serie de cladiri cum ar fi mausoleul, 
		un templu doric construit in 1810 ca loc de veci pentru Familia Regala. Printre alti membrii ai Familiei Regale, aici se gaseste sarcofagul lui 
		Friedrich Wilhelm II. O alta cladire din gradina este Belvedere, finantata de Friedrich Wilhelm II si construita intre 1788 si 1790. In apropierea 
		palatului se afla pavilionul Schinkel contruit de renumitul arhitect Karl Friedrich Schinkel pentru Regele Friedrich Wilhelm III. In fata pavilionului 
		se gasesc doua columne in varful carora se gasesc statui ce simbolizeaza victoria.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/palatul-charlottenburg.html">La intrarea in palat se gaseste o statuie ecvestra a 
		Marelui Elector. A fost facuta in 1698 de Andreas Schluter si finantata de Regele Friedrich I, fiul electorului. La baza statuii se afla patru 
		luptatori intalntuiti. Statuia a fost initial amplasata pe Insula Muzeelor dar a cazut pe fundul lacului Tegeler fiind recuperata abia in 1952 si 
		dupa o restaurare a fost mutata la Palatul Charlottenburg.</blockquote>
		
		<ol start="5">
			<li id="zid">Zidul Berlinului</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Berlin/zidul_berlinului.jpg" alt="Zidul Berlinului" title="Zidul Berlinului">
			<figcaption>Zidul Berlinului│&#169; PeterDargatz / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/zidul-berlinului.html"><strong>Zidul Berlinului</strong>, care a despartit orasul in doua parti, 
		estica si vestica, a fost simbolul Razboiului Rece. Construit de guvernul Republicii Democrate Germane pentru a impiedica pe est germani sa fuga 
		spre Germania Federala, marea parte a acestuia a fost demolata de cand granita dintre est si vest a fost deschisa in 1989.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/zidul-berlinului.html">Dupa al doilea razboi mondial, Germania a fost impartita in 
		patru zone: una americana, britanica, franceza si sovietica. Berlinul a fost si el impartit in patru sectoare. In 1948, autoritatile sovietice au 
		incercat sa anexeze intregul oras si au pornit o blocada a sectoarelor vestice. Planurile au esuat insa din cauza transporturilor aeriene catre 
		sectoarele din vest si in mai 1949, blocada a fost ridicata. In acelasi an partea sovietica a Germaniei a devenit RDG – Republica Democrata Germana 
		cu capitala in Berlinul de Est. Celelalte zone au devenit RFG – Republica Federala Germana cu capitala la Bonn. Partea de vest a Berlinului a devenit 
		o enclava inconjurata de Germania de Est.</blockquote>
		<blockquote cite="https://www.tvl.ro/berlin/obiective-turistice/zidul-berlinului.html">Pana in 1961, nemtii din Germania de Est se puteau misca liber 
		intre Berlinul de Est si cel de Vest si pana in 1961 pana la 20.000 de est germani fugeau in fiecare luna spre Berlinul de Vest. In 12 August 1961, 
		autoritatile est germane au decis sa inchida frontiera cu sectoarele vestice ale Berlinului pentru a impiedica lumea sa fuga. In mod oficial aceasta 
		masura a fost o bariera de protectie anti fascista menita sa protejeze Estul impotriva agresiunii vest germane. In ziua urmatoare acestei masuri pe 13 
		august, Berlinul de vest a fost inconjurat de sarma ghimpata. Traficul de frontiera a fost oprit si sistemul de metrou si tren care faceau legatura 
		intre diferite parti ale orasului au fost stopate. Casele din partea estica a frontierei au fost evacuate si geamurile cu vedere la frontiera au fost 
		zidite. De-a lungul timpului, sarma ghimpata a fost inlocuita cu un zid inalt de 3.6 metri. De-a lungul Zidului, pe partea estica a aparut 
		“zona mortii”, o zona controlata de gardieni. Un total de 302 turnuri de paza si 20 de buncare au fost construite de-a lungul frontierei de 155 de km. 
		Gardienii aveau ordin sa traga in toti cei care incercau sa fuga din lagarul comunist. Drept rezultat 192 de oameni au fost omorati in tentativa lor 
		de a trece granita spre Vest.</blockquote>
		
	</section>



</main>
	
</body>
</html>