<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Top 5 orase europene">
	<meta name="keywords" content="top,oras,Europa,vizita,obiectiv,turist">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Top 5 orase europene care merita sa fie vizitate</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>
</head>
<body>

	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
	<a href="#" class="scroll-up">^</a>
	<h1>Top 5 orase europene <br> care merita sa fie vizitate</h1>
	<figure class="add_padding">
		<img class="imagine" src="resurse/imagini/Index/img1.jpg" alt="Reflexia cladirilor in apa" title="Reflexia cladirilor in apa">
		<figcaption>Reflexia cladirilor in apa│&#169; Paweł L. / Pexels</figcaption>
	</figure>
	<p>Desi este al doilea cel mai mic continent de pe planeta, Europa gazduieste o diversitate culturala, gastronomica, arhitecturala, cat si nenumarate forme
	de relief. In timp ce muntii imbracati in zapada te indeamna sa-ti pui bocancii de catarat in picioare, monumentele istorice, restaurantele, muzeele de 
	arta si salile de teatru transforma celelalte orase in destinatii de vis. In plus, pajistile vaste, raurile cristaline si constructiile fascinante umplu 
	de culoare ochii turistilor. Daca nu stii de unde sa incepi, am pregatit topul celor 5 orase din Europa care m-au impresionat si pe care le recomand 
	oricarui impatimit al calatoriilor.</p>
	
	<p>Va puteti accesa contul aici: <a href="/login">Login</a></p>

	</main>
	
</body>
</html>