<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Vizitarea orasului Lisabona, capitala Portugaliei"> 
	<meta name="keywords" content="Lisabona,Portugalia,vizita,obiectiv,turist,Oceanarium,castel,palat, muzeu,Jeronimo">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lisabona, Portugalia</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>	
</head>
<body>
	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
	<a href="#" class="scroll-up">^</a>
	<h1>Viziteaza Lisabona, capitala Portugaliei</h1>
	<figure class="add_padding">
		<img class="imagine" src="resurse/imagini/Lisabona/lisabona.jpg" alt="Tramvai in Lisabona" title="Tramvai in Lisabona">
		<figcaption>Tramvai in Lisabona│&#169; contratempo / Pixabay</figcaption>
	</figure>
	
	<blockquote cite="http://valizacucalatorii.ro/idei/city-break/lisabona-ce-poti-face"><strong>Lisabona</strong> este probabil cea mai însorită capitală europeană, acolo 
	unde zâmbetele și buna dispoziție pot fi puse seama razelor de soare prezente aproape tot timpul. Este și orașul de care te vei îndrăgosti inexplicabil 
	de repede, de îndată ce îți vei da sufletul urcând prima stradă în pantă, imediat ce vei gusta din primul pastel de nata, odată ce vei zări primul tramvai
	galben și din primele secunde în care vei admira priveliștea de la un miradouro.</blockquote>
	<blockquote cite="http://valizacucalatorii.ro/idei/city-break/lisabona-ce-poti-face">Fiecare oraș are simbolul său incontestabil, iar acesta este tramvaiul
	galben pentru Lisabona. Cele mai multe cărți poștale din capitala Portugaliei au în prim-plan simpaticul mijloc de transport în comun urcând pe o stradă 
	în pantă. Dacă vrei să te plimbi cu tramvaiul galben, trebuie să te uiți după ruta cu numărul 28, care trece și prin cartierul Alfama. Așteaptă-te, însă, 
	la o aglomerație pe măsura popularității acestuia. Alternativ, există tururi speciale cu alte tramvaie colorate, dar care nu îți oferă cea mai autentică 
	experiență.</blockquote>
	<section>
		<h2>Obiective turistice</h2>
		<ol class="bookmark">
			<li><a href="#jeronimo">Manastirea Jeronimo</a></li>
			<li><a href="#castelo">Castelo de Sao Jorge</a></li>
			<li><a href="#muzeu">Muzeul Calouste Gulbenkian</a></li>
			<li><a href="#oceanarium">Oceanarium</a></li>
			<li><a href="#ajuda">Palatul Ajuda</a></li>
		</ol>
	</section>
	<section>
		<h2>Obiective turistice</h2>
		<ol>
			<li id="jeronimo">Manastirea Jeronimo</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Lisabona/manastirea_jeronimo.jpg" alt="Manastirea Jeronimo" title="Manastirea Jeronimo">
			<figcaption>Manastirea Jeronimo│&#169; waldomiguez / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/manastirea-jeronimo.html"><strong>Manastirea Jeronimo</strong> este trecuta pe lista 
		Patrimoniului Universal UNESCO si este locul de odihna vesnica al lui Vasco da Gama. Manastirea Jeronimo este cel mai impresionant simbol al puterii 
		si bogatiei Portugaliei in perioada marilor descoperiri geografice.Castelul poate fi vazut din aproape orice punct al Lisabonei si este unul dintre 
		obiectivele turistice majore. Cele mai vechi parti ale sale dateaza inca din secolul al VI-lea cand a fost fortificat de romani, vizigoti si in cele 
		din urma de mauri.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/manastirea-jeronimo.html">Regele Manuel I a contruit-o in anul 1502 pe locul unui 
		schit fondat de Printul Henry Navigatorul, unde Vasco da Gama si echipajul sau si-au petrecut ultima noapte in Portugalia, rugandu-se inainte de a 
		pleca spre India. A fost contruita pentru a comemora expeditia lui Vasco da Gama si pentru a multumi Fecioarei Maria pentru succesul acestei 
		calatorii.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/manastirea-jeronimo.html">Mormantul lui Vasco da Gama a fost pus in interior langa 
		intrare, ca si mormantul poetului Luis de Camoes. Acesta este poetul national al Portugaliei si autorul "Luisiadelor", o opera epica de mare amploare 
		dedica marilor descoperiri si cuceriri ale exploratorilor portughezi. Alte figuri importante ale istoriei si culturii portugheze sunt inmormantate 
		aici. Regele Manuel si Regele Sebastiao dar si poeti ca Fernando Pessoa si Alexandre Herculano. Manastirea a fost populata de calugari din ordinul 
		Sfantului Jeronimo, a caror indatorire era sa ofere indrumare spirituala navigatorilor si sa se roage pentru sufletul regelui. Din punct de vedere 
		arhitectonic, manastirea este un triumf al stilului gotic european; multe dintre detaliile designului fiind foarte elaborate cu sculpturi detaliate 
		si diverse motive. Stilul arhitectonic folosit pentru constructia manastirii a devenit cunoscut sub numele de stilul Manuelin, un stil de arta ce a 
		servit pentru a glorifica marile descoperiri ale epocii.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/manastirea-jeronimo.html">Claustrele sunt efectiv impresionante, fiecare coloana 
		fiind sculptata diferit, cu monstri marini, corali si alte motive marine foarte sugestive. Impresionante sunt si picturile murale care descriu 
		povestea biblica a lui Iosef. Interiorul este spatios si bogat decorat cu sculpturi in relief. In exterior exista o gradina frumoasa infiintata 
		in anul 1940 in care pot fi vazute diferitele blazoane ale unor regiuni ale Portugaliei. In centrul acestei gradini se gaseste o fantana si ea 
		decorata cu steme si iluminata cu ocazii speciale.</blockquote>
		
		<ol start="2">
			<li id="castelo">Castelo de Sao Jorge</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Lisabona/sao_jorge_castle.jpg" alt="Castelo de Sao Jorge" title="Castelo de Sao Jorge">
			<figcaption>Castelo de Sao Jorge│&#169; juliaorige / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/castelul-sao-jorge.html"><strong>Castelo de Sao Jorge</strong> poate fi vazut din aproape orice punct al 
		Lisabonei si este unul dintre obiectivele turistice majore. Cele mai vechi parti ale sale dateaza inca din secolul al VI-lea cand a fost fortificat 
		de romani, vizigoti si in cele din urma de mauri. Castelul a servit drept resedinta regala a maurilor pana cand primul rege al Portugaliei, Afonso 
		Henriques l-a cucerit in anul 1147 cu ajutorul unor luptatori din nordul continentului ce se aflau in drum spre pamantul sfant pentru a participa la 
		cruciade. De aceea a fost dedicat Sfantului George, sfantul patron al Angliei; astfel s-a comemorat si parctul englezo-portughez din anul 1371. 
		Castelul a devenit resedinta regala pana cand alta a fost construita in Piata Comercio de astazi. Aceasta din urma resedinta regala a fost distrusa 
		de Marele Cutremur care a distrus aproape in totalitate Lisabona.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/castelul-sao-jorge.html">In zilele noastre, Castelul Sao Jorge este o oaza de 
		liniste si pace, dar chiar la intrare se gaseste o statuie a Regelui Afonso Henriques si cateva tunuri care amintesc de scopul initial al castelului. 
		Din Palatul Alcacovas, unde regii medievali traiau, nu a mai ramas decat o cladire de piatra care gazduieste astazi un restaurant si o expozitie 
		despre istoria Lisabonei numita Olissiponia. Spectacolul multimedia al acestei expozitii se desfasoara in trei camere subterane. In una dintre 
		aceste camere, Vasco da Gama a fost primit de Regele Manuel. Expozitia include o simulare a cutremurului devastator din 1755 in care este exemplificata
		daramare bisericii Carmo si valul tsunami care a lovit portul Lisabona.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/castelul-sao-jorge.html">Mare parte a castelului a fost distrusa de-a lungul anilor, 
		in special la cutremur, dar inca se pot vedea o multime de ziduri de aparare si 18 turnuri. Turistii se pot urca in turnuri si se pot plimba pe 
		zidurile de aparare pentru a putea admira cele mai frumoase privelisti din Lisabona. Castelul este si un loc perfect pentru relaxare, gradinile 
		sale fiind pline de pauni, gaste si rate care creeaza o atmosfera linistitoare. In turnul lui Ulise exista "Camara Escura" un periscop care proiecteaza
		obiective si atractii de prin oras.</blockquote>

		<ol start="3">
			<li id="muzeu">Muzeul Calouste Gulbenkian</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Lisabona/muzeu.jpg" alt="Muzeul Calouste Gulbenkian" title="Muzeul Calouste Gulbenkian">
		</figure>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/muzeul-calouste-gulbenkian.html">La nord est de parcul Eduardo VII se gaseste <strong>muzeul 
		Calouste Gulbenkian</strong>, unul dintre cele mai importante muzee din intreaga lume si una dintre comorile nepretuite ale Europei. Parte a Fundatiei Calouste 
		Gulbenkian, muzeul gazduieste colectii de arta Egipteana, Greaca, Romana, Islamica, Asiatica si Europeana. In anul 2001 a fost renovat si modernizat 
		substantial - pe perioada lucrarilor de renovare multe dintre capodopere au fost expuse la Muzeul Metropolitan de Arta din New York.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/muzeul-calouste-gulbenkian.html">Muzeul Calouste Gulbenkian este un obiectiv turistic
		al Lisabonei ce nu poate fi ratat in vacanta la Lisabona. Este una dintre colectiile private cele mai mari din lume, colectie construita intr-o 
		perioada de peste 40 de ani de catre Calouste Gulbenkian, un mare magnat al petrolului. Acesta a fost unul dintre cei mai bogati oameni ai secolului 
		20. In ultimii ani ai vietii acesta s-a stabilit in Portugalia si a donat intreaga sa comoara artistica tarii adoptive atunci cand a murit, in 1955 
		la varsta de 86 de ani.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/muzeul-calouste-gulbenkian.html">Printre numeroasele atractii ale muzeului se afla o 
		masca a unei mumii egiptene, un vas ce dateaza de mai bine de 2700 de ani, o serie de pisici de bronz si multe alte piese nepretuite - in sectiunea 
		egipteana. O colectie impresionanta de monezi elene si o vaza veche de 2400 de ani - in sectiunea Greaca si Romana a muzeului. In sectiunea asiatica
		pot fi admirate vase rare din portelan, tiparituri japoneze si tapiterii persane din secolele 16 si 17. Sectiunea de arta europeana este uriasa si 
		aici pot fi admirate opere ale lui Rembrandt, Rubens, Claude Monet, Van Dyck, Ghirlandaio, Rogier Van der Weyden si Pierre-Ausguste Renoir. Majoritatea
		operelor au fost cumparate de la Hermitage din Sankt Petersburg. Tot in aceasta sectiune pot fi admirate piese de mobilier frantuzesc si textile. 
		Statuia din marmura alba a Dianei, opera sculptorului francez Jean-Antoine Houdon alaturi de bijuterii unice in lume constituie alte atractii ale 
		muzeului.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/muzeul-calouste-gulbenkian.html">Gradina muzeului Calouste Gulbenkian este impartita
		cu Centrul de Arta Moderna din Lisabona. Aici sunt expuse pe doua etaje opere ale artistilor portughezi si internationali din epoca contemporana.</blockquote>

		<ol start="4">
			<li id="oceanarium">Oceanarium</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Lisabona/oceanarium.jpg" alt="Oceanarium" title="Oceanarium">
			<figcaption>Oceanarium│&#169; Cuyahoga / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/oceanarium.html"><strong>Oceanarium din Lisabona</strong> este unul dintre cele mai mari aquariumuri 
		din lume. Proiectat de arhitectul american Peter Chermeyeff, Oceanarium a fost consturit chiar pe raul Tejo iar pentru a ajunge la el trebuie 
		traversata o pasarela pietonala.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/oceanarium.html">Oceanarium Lisabona este o experienta in adancurile oceanului fara 
		toate riscurile pe care le-ar implica o astfel de aventura. Aici se gasesc peste 25000 de pesti, pasari si mamifere marine. Exista un acvariu central 
		urias care este cat patru bazine de dimensiune olimpica la un loc. Turistii se pot uita in acest acvariu de la mai multe niveluri si pot admira de 
		aproape o gama variata de animale marine, inclusiv diferite specii de rechini.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/oceanarium.html">Oceanarium din Lisabona este deosebit in primul rand datorita 
		designului si abia apoi din cauza dimensiunilor sale de invidiat. Este primul aquarium care a inclus habitate oceanice intr-un singur mediu controlat 
		in care au fost recreate ecosisteme oceanice impresionante. Acvariul Antarctica contine pinguini in timp ce acvariul Pacific are vidre si alte animale 
		care se joaca in bazine printre roci.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/oceanarium.html">Toate aceste acvarii sunt separate de acvariul principal prin 
		pereti invizibili, dand senzatia ca toate animalele inoata si traiesc in acelasi spatiu. In Oceanarium exista dotari de ultima generatie si ecrane 
		care explica dezvoltarea vietii oceanice.</blockquote>

		
		<ol start="5">
			<li id="ajuda">Palatul Ajuda</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Lisabona/ajuda_palace.jpg" alt="Palatul Ajuda" title="Palatul Ajuda">
		</figure>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/palatul-ajuda.html"><strong>Palatul Ajuda din Lisabona</strong> este de o extravaganta debordanta. 
		Desi constructia acestui palat nu a fost finalizata conform planului din cauza exilarii familiei regale in Brazilia, cauzata de invazia armatelor lui 
		Napoleon, este totusi una dintre cele mai frumoase cladiri romantice din Europa. Interiorul este bogat decorat cu mobila, tapiterii, statui si arta 
		decorativa extravaganta. Toate acestea sunt rezultatul bogatiei fara margini din secolul 18 cand au fost descoperite diamante in Brazilia, colonie 
		portugheza in acele vremuri.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/palatul-ajuda.html">Notabile sunt tavanul din Gradina de Iarna care a fost un dar al
		Viceregelui din Egipt, Camera de Muzica si portelanurile sale pretioase, Camera de Bal si Camera Ambasadorilor. Cea mai impresionanta este insa 
		Camera Tronului care ocupa de fapt toata aripa de sud a palatului. Camera in care se servea masa de seara este decorata cu candelabre de cristal, 
		scaune invelite in matase si pe tavan exista fresce alegorice ce reprezinta nasterea Regelui Joao al VI-lea. Turistii vor remarca cu siguranta si 
		colectia foarte interesanta de ceasuri raspandite prin tot palatul. Serviciul de masa este unul dintre putinele servicii de masa regale din Europa 
		care mai sunt intacte.</blockquote>
		<blockquote cite="https://www.tvl.ro/lisabona/obiective-turistice/palatul-ajuda.html">La intrarea principala sunt 23 de statui din marmura, fiecare 
		dintre ele reprezentand un atribut anume, cum ar fi generozitatea si gratitudinea. Tot aici exista si un monument dedicat Regelui Carlos. O turla a 
		unei biserici mai poate fi admirata aici. Este tot ce a mai ramas din biserica daramata ce se numea biserica Nossa Senhora da Ajuda.</blockquote>


	</section>



</main>
	
</body>
</html>