<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Logout</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>

</head>
<body>

	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
		<a href="#" class="scroll-up">^</a>	
		
		<p>Ai fost delogat</p>
	
	
	</main>
</body>
</html>