<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Vizitarea orasului Paris, capitala Frantei">
	<meta name="keywords" content="Paris,Franta,vizita,obiectiv,turist,Eiffel,Luvru,Versailles,palat,muzeu,Disney,Montmartre">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paris, Franta</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>	
</head>
<body>
	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
	<a href="#" class="scroll-up">^</a>
	<h1>Viziteaza Parisul, capitala Frantei</h1>
	<figure class="add_padding"><img class="imagine" src="resurse/imagini/Paris/paris.jpg" alt="Strada din Paris toamna" title="Strada din Paris toamna"></figure>
	<p>Paris este unul dintre cele mai mari orase din Europa si este situat in nordul Frantei, fiind traversat de raul Sena. In timp, acesta si-a castigat 
	reputatia de oras al luminilor, al indragostitilor si al modei, fascinand prin mostenirea culturala, prin arhitectura unica si muzeele de arta, prin 
	stradutele pline de cafenele cochete si prin restaurantele cu mancare traditionala. Desi aici s-au scris mii de carti si s-au facut sute de filme, magia 
	locului poate fi inteleasa doar in momentul in care pasesti pe strazile sale uimitoare.</p>
	<p>Frumusetea orasului se poate observa in fiecare anotimp, insa iti recomand sa vizitezi Parisul primavara, cand afara nu e nici prea cald, nici prea
	frig. Astfel, te poti bucura alaturi de ceilalti turisti de parcurile ale caror copaci incep sa inverzeasca, de strazile colorate cu flori, de 
	locuitorii care incep sa iasa la plimbare si de terasele abia pregatite de comerciantii nerabdatori. Sunt multe de vazut si, ca sa te poti bucura pe 
	deplin de toate fara sa alergi intr-un ritm alert de la un obiectiv la altul, ai avea nevoie de cel putin o saptamana si de un plan bine pus la punct 
	cu obiectivele turistice pe care nu trebuie să le ratezi.</p>
	<p>Voi incepe prin a prezenta un avantaj pentru tinerii sub 26 de ani din Uniunea Europeana si anume acela ca beneficiaza de gratuitate la majoritatea 
	obiectivelor turistice, deci ii sfatuiesc sa intrebe la ghiseele de informatii inainte de a-si cumpara bilete. Acestea fiind spuse, voi incepe cu 
	prezentarea obiectivelor turistice.</p>
	<section>
		<h2>Obiective turistice</h2>
		<ol class="bookmark">
			<li><a href="#eiffel">Turnul Eiffel</a></li>
			<li><a href="#luvru">Muzeul Luvru</a></li>
			<li><a href="#versailles">Palatul Versailles</a></li>
			<li><a href="#montmartre">Cartierul Montmartre si Basilica Sacre Coeur</a></li>
			<li><a href="#disney">Disneyland</a></li>
		</ol>
	</section>
	<section>
		<h2>Obiective turistice</h2>
		<ol>
			<li id="eiffel">Turnul Eiffel</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Paris/turnul_eiffel.jpg" alt="Turnul Eiffel" title="Turnul Eiffel">
			<figcaption>Turnul Eiffel│&#169; iWonder Vision / Pexels</figcaption>
		</figure>
		<p><b>Turnul Eiffel</b> este una dintre cele mai cunoscute atractii turistice din lume, fiind inaltat de catre inginerul Gustave Eiffel cu 
		ocazia Expozitiei Universale din 1889, organizata la Paris pentru celebrarea centenarului Revolutiei Franceze din 1789. Turnul a fost realizat dupa o 
		tehnologie inventata in Romania de inginerul Gheorghe Panculescu, iar otelul folosit in constructia sa a fost fabricat la Resita. Desi la inceput 
		publicul a avut o oarecare reticenta fata de aceasta constructie, considerand ca nu se incadreaza in arhitectura Parisului, Turnul Eiffel este acum 
		considerat simbolul orasului si este vizitat in fiecare an de milioane de turisti.</p>
		<p>Situat in parcul Champ de Mars, turnul are o inaltime de 324 de metri si ofera cea mai emblematica priveliste din oras. Pana la etajul al doilea 
		poti alege intre a urca cu liftul sau a urca cele 704 trepte,  insa pentru a ajunge in varf (276 metri) vei fi nevoit sa folosesti liftul. Daca vrei 
		sa te bucuri de panorama uimitoare in timp ce savurezi o masa tipic frantuzeasca, restaurantul Altitude 95 de la primul nivel sau restaurantul Jules 
		Verne aflat la etajul al doilea sunt cele mai bune alegeri.</p>
		<p>Preturile pentru vizitarea Turnului Eiffel sunt cuprinse intre 5.00 € si 15.00 € pentru adulti si intre 3.00 € si 10.50 € pentru copii.</p>
		
		
		<ol start="2">
			<li id="luvru">Muzeul Luvru</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Paris/muzeul_luvru.jpg" alt="Piramida Muzeulul Luvru" title="Piramida Muzeului Luvru">
			<figcaption>Muzeul Luvru│&#169; Pixabay / Pexels</figcaption>
		</figure>
		<p><strong>Muzeul Luvru</strong> este un alt obiectiv turistic de exceptie al Parisului, fiind de altfel si cel mai vizitat muzeu de arta din lume. 
		In trecut, acesta a fost resedinta regilor Frantei, insa acum gazduieste peste 380.000 obiecte si 35.000 de opere de arta exceptionale, apartinand 
		culturilor din intreaga lume. Din anul 2008 colectia Muzeului Louvru este impartita in opt categorii distincte: Egiptul Antic; Antichitati din Orientul
		Apropiat; Grecia, Etruscii si Imperiul Roman; Arta Islamica; Sculptura; Arta decorativa; Pictura; Printuri si Desene. Printre piesele cele mai renumite
		expuse la Muzeul Luvru se numara: <i>Codul lui Hammurabi</i>, <i>Venus din Milo</i>, <i>Mona Lisa</i> (<i>La Gioconda</i>) de Leonardo da Vinci si 
		<i>Libertatea conducand poporul</i> de Eugene Delacroix. </p>
		<p>Trebuie sa va rezevati cel putin o zi din vacanta pentru a vizita muzeul in totalitate si, pentru a avea parte de o experienta cat mai placuta, 
		va recomand sa apelati la un ghid audio (pe care il achizitionati la intrare). La iesirea din muzeu, va puteti plimba prin <i>Jardin des Tuileries</i> 
		(Gradinile Tuileries), acesta fiind unul dintre cele mai mari si frumoase parcuri din Paris.</p>
		<p>Biletele de intrare la muzeu costa intre 9.00 € (bilet valabil toata ziua pentru muzeul Eugène Delacroix si pentru expozitia permanenta exceptand 
		expozitiile din sala Napoleon) si 13.00 € (bilet combinat ce asigura acces atat la colectia permanenta cat si la expozitiile termporare). In afara 
		de tinerii sub 26 de ani, beneficiaza de intrare gratuita si persoanele cu handicap si insotitorii lor, profesorii si studentii la arta.</p>
		
		<ol start="3">
			<li id="versailles">Palatul Versailles</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Paris/palatul_versailles.jpg" alt="Palatul Versailles" title="Palatul Versailles">
			<figcaption>Palatul Versailles│&#169; denisflorent / Pixabay</figcaption>
		</figure>
		<p><strong>Palatul Versailles</strong> impresioneaza atat prin prisma evenimentelor istorice petrecute de-a lungul anilor, cat si prin gradinile sale 
		impresionante, bogatia, rafinamentul si decorul unic. Castelul a fost resedinta regilor Frantei, iar in Sala Oglinzilor a avut loc semnarea Tratatului 
		de la Versailles, ce a pus capat in mod oficial Primului Razboi Mondial. Este una dintre cele mai mari si opulente cladiri din lume, avand peste 21.000
		de ferestre, 1.250 de seminee si 67 de scari interioare. Pe langa Sala Oglinzilor, cele mai impresionante sali ale palatului sunt: <i>Galeria Marilor 
		Batalii</i>, Dormitorul Regal, Sala de Receptii, apartamentul regelui si apartamentul reginei. </p>
		<p><i>Galeria Marilor Batalii</i> este cea mai mare sala din palat, cu o suprafata de 120 de metri lungime si 13 metri latime, aici regasindu-se 
		importante opere de arta semnate Jan-Baptiste Mauzaisse, Delacroix sau Vernet. Sala Oglinzilor, cu o lungime de 73 de metri si cu scene din viata 
		regelui Ludovic al XIV-lea pictate pe tavan, era folosita pentru gazdui evenimente, nunti regale si intalniri intre ambasadori. Apartamentul reginei 
		are patru camere, acestea traind aici in afara vietii publice, in timp ce in apartamentul regelui, fiecare dintre cele sapte camere aveau cate un 
		scop: bufet, camera de dans, jocuri, camera de biliard.</p>
		<p>Palatul Versaiiles este un alt obiectiv pentru care cetatenii sub 26 de ani au acces gratuit. Pentru ceilalti vizitatori, biletele au preturi 
		cuprinse intre 16 € si 25 €, aceastea depinzand de perioada anului si de accesul la spectacolele fantanilor.</p>
	
		<ol start="4">
			<li id="montmartre">Cartierul Montmartre si Basilica Sacre Coeur</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Paris/basilica_sacre_coeur.jpg" alt="Basilica Sacre Coeur" title="Basilica Sacre Coeur">
			<figcaption>Basilica Sacre Coeur│&#169; Pixabay / Pexels</figcaption>
		</figure>
		<p>Cunoscut de multa vreme drept cartierul artistilor, <strong>Montmartre</strong> este unul dintre cele mai vizitate si mai pline de culoare cartiere 
		din Paris. Situat in nordul orasului, dealul cu o inaltime de 130 de metri a devenit de-a lungul anilor casa multor artisti cunoscuti, precum: Pissarro, 
		Jongkind, Edgar Degas, Henri Matisse, Toulouse-Lautrec, Pierre-Auguste Renoir si Pablo Picasso. </p>
		<p>Fiind desemnat oficial un cartier istoric, Montmartre si-a pastrat mult din farmecul de altadata, deci o simpla plimbare prin cartier poate fi de 
		ajuns pentru unii din voi.  De asemenea, si viata de noapte a ramas aceeasi, deci multi turisti isi rezerva bilete pentru o cina si un spectacol la 
		Moulin Rouge, Le Char Noir sau la unul din celelalte cluburi din zona.</p>
		<p>Daca vreti sa aveti parte si de experienta culturala, va recomand insa sa vizitati Muzeul Montmartre si casa in care a locuit Pierre-Auguste Renoir,
		Cimitirul Montmartre si Basilica Sacre-Coeur. In plus, la doar cateva strazi distanta de basilica veti gasi <i>Place du Tertre</i>, o piata in care 
		artistii de astazi isi expun operele pentru a fi cumparate de turisti sau se ofera sa picteze portrete pe loc, portrete ce pot constitui un suvenir 
		ideal din Paris. </p>
		<p>Totusi, cel mai de seama obiectiv turistic din Montmartre este <strong>Basilica Sacre-Coeur</strong>, milioane de turisti fiind atrasi an de an de 
		frumusetea si de arhitectura in stil romano-bizantin. Fiind asezat in cel mai inalt punct din Paris, domul alb al catedralei ofera cea mai spectaculoasa 
		panorama a orasului, vizibilitatea ajungand pana la 30 de km. Basilica este cunoscuta atat pentru ca in interior se gaseste unul dintre cele mai mari 
		mozaicuri din lume care il infatiseaza pe Iisus cu bratele intinse, cat si pentru clopotul sau, care este unul dintre cele mai grele din lume, 
		cantarind 19 tone.Intrarea in biserica este gratuita, insa daca vreti sa vizitati domul sau cripta, va trebui sa platiti o taxa de 6 € (adult) si 4 € 
		(copil).</p>
		
		<ol start="5">
			<li id="disney">Disneyland</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Paris/disneyland.jpg" alt="Disneyland" title="Disneyland">
			<figcaption>Disneyland Paris│&#169; philipbase / Pixabay</figcaption>
		</figure>
		<p>Evident, nu aveam cum sa nu includ in lista obiectivelor turistice <strong>Disneyland Paris</strong>, unul dintre cele mai cunoscute parcuri de distractii din 
		Europa. Acesta se afla la 32 de kilometri de oras si puteti ajunge acolo cu autobuzul, cu metroul (RER) sau cu TGV (tren de mare viteza), pana la 
		statia Marne-la-Vallee-Chessy. Un prim sfat ar fi acela sa va instalati pe telefoane aplicatia oficiala. Pe langa harta parcului, veti putea face 
		rezervari la restaurante si veti gasi informatii legate de fiecare sectiune a parcului, de timpul mediu de asteptare la fiecare atractie, de programul 
		paradelor si al showurilor zilnice, dar si la ce ore au loc intalnirile cu personajele Disney.</p>
		<p>Disneyland Paris este format din doua parcuri, Disneyland Park si Walt Disney Studios, plus un centru comercial si mai multe hoteluri, magazine si 
		restaurante cu tematice Disney. Odata intrati in parc, de o parte si de alta a arterei principale veti observa magazine cu suveniruri, jucarii si haine
		din lumea Disney si diverse chioscuri cu inghetata, prajituri, vata de zahar, cafea sau alte bauturi. In centrul parcului este castelul Disney, iar in
		jurul lui se gasesc toate atractiile, organizate in patru zone: Adventureland, Discoveryland, Fantasyland si Frontierland. Desi, in teorie, este un 
		parc pentru copii, oricine gaseste ceva de facut aici: de la parade si intalniri cu personaje la plimbari cu barca, trenuletul sau trasura, de la 
		carusele si labirinturi usoare pentru cei mici la roller-coastere ce ofera senzatii tari.</p>
		<p>Recomandarea mea este sa va faceti o lista a atractiilor in ordinea importantei, deoarece este posibil sa nu aveti timp de toate, avand in vedere 
		ca timpul mediu de asteptare este undeva la 30 de minute. Din experienta mea, va recomand sa nu ratati urmatoarele: <i>It’s a small world</i>, 
		<i>Autopia</i>, <i>Les Voyages de Pinocchio</i>, <i>Indiana Jones and The Temple of Peril</i>, <i>Crush’s Coaster </i>, <i>The Twilight Zone Tower 
		of Terror</i>, <i>Ratatouille – The Adventure</i>, <i>Le Pays des Contes de Fees</i>, <i>Pirates of the Caribbean</i> si <i>Star Wars Hyperspace 
		Mountain</i>. Totusi, nu merita sa asteptati pentru intalnirile cu personajele din desene sau cu printesele Disney, deoarece dupa ore de stat la 
		coada veti avea timp doar de o poza si un autograf. Cel mai bine este sa va gasiti un loc bun pentru a vedea personajele la parada, pentru ca mai 
		apoi, la inchiderea programului sa profitati de Disney Dreams - spectacolul de proiecții laser, artificii, apă, foc și muzică ce te plimbă prin tot 
		universul Disney. </p>
		<p>Pe pagina oficiala Disneyland veti gasi mai multe tipuri de bilete disponibile, oferte speciale pentru diferite perioade din an si pachete ce 
		includ cazare la hoteluri si mese. Biletele de o zi, costa 87 €, atat pentru adulti, cat si pentru copiii cu varsta cuprinsa intre 3 si 11 ani, iar 
		copiii sub 3 ani intra gratuit.</p>
		
		
	</section>


</main>
	
</body>
</html>