<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Vizitarea orasului Roma, capitala Italiei">
	<meta name="keywords" content="Roma,Italia,vizita,obiectiv,turist,Piazza,Colloseum,Vatican,Fontana,Pantheon">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roma, Italia</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>
</head>
<body>
	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
	<a href="#" class="scroll-up">^</a>
	<h1>Viziteaza Roma, capitala Italiei</h1>
	<figure class="add_padding">
		<img class="imagine" src="resurse/imagini/Roma/roma.jpg" alt="Cladiri din Roma" title="Cladiri din Roma">
		<figcaption>Cladiri din Roma│&#169; Kookay / Pixabay</figcaption>
	</figure>
	<p>Capitalele europene sunt incarcate de istorie, muzee, arta si monumente arhitecturale deosebite, insa <strong>Roma</strong> pare sa le depaseasca pe 
	toate cu frumusetea ei, pastrata de mii de ani. Orasul este situat pe malul raului Tibru si a fost centrul Imperiului Roman, fiind secole la rand capitala 
	Republicii Romane, dar si a Bisericii Romano-Catolice. Supranumita si „Capitala Lumii”, Roma este al treilea cel mai vizitat centru turistice din Europa 
	si atrage an de an milioane de turisti din intreaga lume. Acestia vin sa se bucure de clima mediteraneana prietenoasa, de obiective turistice deosebite, 
	de o bucatarie delicioasa si de o experienta unica pe stradutele orasului.</p>
	<p>Veti observa ca oricat de bine v-ati facut planul cu obiectivele pe care vreti sa le vizitati, la tot pasul vor aparea unele noi, de care nici nu 
	stiati. Din acest motiv, Roma poate fi considerata chiar un muzeu in aer liber, de care puteti profita in totalitate luandu-l la pas. Plimbandu-va pe 
	strazi, veti observa cum arta, cultura, arhitectura si istoria de pe fatadele cladirilor, templelor si ruinelor vechi, pietele publice, basilicile, 
	muzeele, parcurile, toate se imbina intr-un contrast intre vechi si nou, intre modernitate si antichitate.</p>
	<p>„Orasul etern” va trezeste dorinta de a descoperi cat mai mult, fiind un izvor nesecat de atractii, obiective, monumente si constructii fantastice. 
	De altfel, poate cea mai mare provocare este sa decideti ce sa nu vizitati. Totusi, o sa fac o lista cu cateva dintre obiectivele turistice care m-au 
	impresionat cel mai mult.</p>
	
	<section>
		<h2>Obiective turistice</h2>
		<ol class="bookmark">
			<li><a href="#colosseum">Colosseum, Forumul Roman si Dealul Palatin</a></li>
			<li><a href="#trevi">Fontana di Trevi si Treptele Spaniole</a></li>
			<li><a href="#navona">Piazza Navona si Pantheonul</a></li>
			<li><a href="#venezzia">Piazza Venezzia</a></li>
			<li><a href="#vatican">Vatican</a></li>
		</ol>
	</section>
	<section>
		<h2>Obiective turistice</h2>
		<ol>
			<li id="colosseum">Colosseum, Forumul Roman si Dealul Palatin</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Roma/colosseum.jpg" alt="Colosseum" title="Colosseum">
			<figcaption>Colosseum│&#169; Edyttka1388 / Pixabay</figcaption>
		</figure>
		<p><strong>Colosseumul</strong> este una dintre principalele atractii turistice din oras, un simbol al Romei care si-a pastrat gloria si maretia pe 
		parcusul celor peste 2000 de ani de existenta, din timpul dinastiei Flavian. Acesta este cel mai mai mare amfiteatru antic din lume, masurand 188 
		metri in lungime, 156 metri in latime, 57 metri in inaltime si avand o capacitate totala de 55.000 de spectatori.</p>
		<p>Construit intre anii 72 si 80 d.Hr., Colosseumul a fost initial folosit de catre imparati pentru a gazdui jocuri gratuite, acestea reprezentand un 
		simbol al prestigiului si al puterii. In general, jocurile se desfasurau pe o zi intreaga sau mai multe zile, incepand cu spectacole de comedie si 
		prezentari de animale exotice si terminandu-se prin lupte pana la moarte intre animale si gladiatori sau doar intre gladiatori. Conform unor estimari 
		se pare ca in timpul jocurilor ce s-au desfasurat in Coloseum de-a lungul a sute de ani, peste 500.000 de oameni si-au pierdut viata si peste un milion
		de animale salbatice au fost sacrificate. Astazi insa, amfiteatrul este simbolul orasului Roma, fiind o lucrare arhitecturala ce a rezistat milenii. 
		Desi cladirea a avut de suferit odata cu trecerea timpului, inclusiv partea de sud ce a fost daramata de un cutremur in 847, multe parti ale acesteia, 
		inclusiv fatada de marmura, au fost folosite pentru a construi monumente mai noi, printre care se numara chiar si Basilica Sf. Petru.</p>
		<p>Facand parte din acelasi circuit arheologic, impreuna cu Colosseumul si Dealul Palatin, <strong>Forumul Roman</strong> merita sa fie si el vizitat. 
		Aici se gasesc peste 60 de temple, arcade si coloane si unele dintre cele mai semnificative monumente din istoria Imperiului Roman: <i>Templul lui 
		Vespasiano</i>, <i>Arcul lui Septimius Severus</i>, <i>Templul Dioscuri</i>, <i>Curia Iulia</i> (edificiul în care Senatul Roman se reunea pentru 
		decizii administrative). De asemenea, puteti admira si <strong>Dealul Palatin</strong>, una dintre cele sapte coline ale Romei. <i>Colle Palatino</i> 
		este cea mai straveche parte a orasului si se afla la 40 de metri deasupra Forumului Roman, Colosseumului si Circului Maximus.</p>
		<p>Biletul de intrare la Colosseum include si intrarea la Forumul Roman si Dealul Palatin si costa 12 €. Pentru cetatenii europeni sub 18 ani intrarea 
		este gratuita, iar cei cu varste intre 18 si 25 de ani beneficiaza de o reducere, pretul biletului fiind de 7.50 €.</p>
		
		<ol start="2">
			<li id="trevi">Fontana di Trevi si Treptele Spaniole</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Roma/fontana_di_trevi.jpg" alt="Fontana di Trevi" title="Fontana di Trevi">
			<figcaption>Fontana di Trevi│&#169; Chait Goli / Pexels</figcaption>
		</figure>
		<p>Fontana di Trevi este cea mai vizitata si probabil cea mai frumoasa fantana din intregul oras, fiind o capodopera a secolului al XVIII-lea. Aceasta 
		este cea mai mare fantana in stil baroc si una dintre cele mai cunoscute din intreaga lume, fiind vizitata anual de aproximativ 5,4 milioane de turisti. 
		In plus, impresionanta atractie este si protagonista in numeroase filme, cea mai faimoasa scena fiind cea din filmul “La Dolce Vita” regizat de 
		celebrul Federico Fellini.</p>
		<p>Cu o dimensiune impozanta (26 de metri inaltime si 49 de metri latime), Fontana di Trevi este incarcata cu numeroase simboluri: Poseidon, cunoscut 
		si sub numele de Oceanus, zeul marilor si al apelor, apare intr-o trasura cu doi cai, unul calm si unul naravas, ce simbolizeaza fluctuatiile marii, 
		iar in stanga si in dreapta lui se gasesc doua statui ce simbolizeaza abundenta, respectiv sanatatea perfecta. Pe fundalul Fantanii Trevi se afla 
		Palatul Poli, care se integreaza perfect in acest peisaj, evidentiind valoarea si maretia fantanii. </p>
		<p>Una dintre traditii este aruncarea unei monede in fantana si punerea unei dorinte, spunandu-se ca aceasta sigur se va indeplini, iar persoana care 
		a aruncat moneda se va reintoarce in magnificul oras italian. Traditia este totusi profitabila, deoarece pe an se aduna peste 1,5 milioane de euro, 
		care sunt donati unei organizatii de binefacere.</p>
		<p>La cativa pasi distanta, veti gasi Treptele Spaniole, ce unesc Piazza di Spagna si Piazza Trinita dei Monti. Treptele reprezinta un loc celebru in 
		care localnicii si turistii se intalnesc pentru a dezbate tot felul de subiecte sau pentru a petrece cateva ore impreuna. La capatul celor 138 de 
		trepte veti gasi biserica <i>Trinita dei Monti</i>, o biserica foarte frumoasa construita in stil gotic. Aici puteti admira o serie de fresce pictate 
		de cativa pictori italieni faimosi, pringre care Giovanni Battista Naldini si Daniele da Volterra. La baza treptelor se gaseste fantana <i>Barcaccia</i>, 
		care a fost sculptata de Pietro Bernini si fiul sau. Legendele spun ca forma de barca a fantanii a fost inspirata de prezenta unei barci vechi ce a 
		fost adusa din raul Tibru pana in centrul pietei de o inundatie din 1598.</p>
		
		<ol start="3">
			<li id="navona">Piazza Navona si Pantheonul</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Roma/pantheon.jpg" alt="Pantheon" title="Pantheon">
			<figcaption>Pantheon│&#169; Griffin Wooldridge / Pexels</figcaption>
		</figure>
		<p>O alta piata foarte cunoscuta in randul turistilor este si Piazza Navona. In vremurile Romei antice, pe locul unde se gaseste astazi piata, era 
		Stadionul Domitian, construit de imparatul Domitian in anul 85 d.Hr.. Cu lungimea de 276 metri si latimea de 106 metri, stadionul putea gazdui 
		aproximativ 30.000 de spectatori si era folosit pentru festivitati si intreceri sportive. Actuala Piazza Navona a fost construita in timpul 
		pontificatului lui Innocenzo X, care a ordonat sa se construiasca Palatul Pamphilj si sa se decoreze piata cu numeroase opere de arta valoroase.</p>
		<p>Piazza Navona atrage privirile turistilor atat prin arhitectura impresionanta si prin cladirile ce contureaza marginile acestui spatiu central, cat 
		si prin terasele, cafenelele si restaurantele traditionale. In plus, piata este plina de muzicieni si artisti stradali, unde merita sa va opriti 15 
		minute pentru a va face o caricatura originala. Totusi, principalele puncte de atractie din Piazza Navona sunt cele trei fantani grandioase. Fantana 
		centrala, care este de asemenea si cea mai mare, este <i>Fontana dei Quattro Fiumi</i> (Fantana celor patru fluvii), care a fost construita intre anii 
		1647 si 1651 la cererea papei Inocentiu al X-lea. Fantana are patru figuri ce reprezinta Dunarea, Gangele, Nilul si Rio della Plata si simbolizeaza 
		triumful Bisericii Catolice în cele patru părți ale lumi. Celelalte doua fantani sunt <i>Fontana del Moro</i>, sculptata de Giacomo Della Porta si 
		<i>Fontana del Nettuno</i>, realizata de Gregorio Zappalà. Pe langa acestea, tot in Piazza Navona puteti admira si Biserica Sant’ Agnese, construita 
		in secolul al XVII-lea in stil baroc.</p>
		<p>La nici 500 de metri distanta de piata veti gasi Pantheonul, cel mai bine prezervat monument al Romei Antice care, in mod remarcabil, este intact 
		de mai bine de 1800 de ani. Domul cladirii, cu o inaltime de peste 43 de metri, a fost cel mai inalt dom din lume pana pana in anul 1436 cand a fost 
		construita Catedrala din Florenta. Desi a pierdut acest titlu, el ramane momentan cel mai mare dom fara sustinere din lume. Vizitat anual de peste 7 
		milioane de turisti, <i>Templul Zeitatilor din Roma Antica</i> este faimos pentru decupajul de 9 metri din cupola, prin care patrund razele soarelui, 
		ca simbol al fortei zeilor care isi trimit puterea catre pamant.</p>
	
		<ol start="4">
			<li id="venezzia">Piazza Venezzia</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Roma/piazza_venezia.jpg" alt="Piazza Venezia" title="Piazza Venezia">
			<figcaption>Piazza Venezzia│&#169; giantastic / Pixabay</figcaption>
		</figure>
		<p>Piazza Venezzia este situata chiar in inima Romei, la capatul cunoscutei Via del Corso si este una dintre cele mai importante intersectii din 
		capitala italiana. Desi din cauza traficului intens, piata nu este cel mai potrivit loc pentru relaxare, exista aici cateva atractii turistice 
		specific romane care merita cu siguranta sa fie vizitate. </p>
		<p>Una dintre cele mai proeminente cladiri din Piazza Venezzia este <i>Il Vittoriano</i>, numit si Altarul Patriei (<i>Altare della Patria</i>), 
		monument dedicat Regelui Victor Emmanuel al II-lea, primul rege al Italiei. Cladirea sta la baza colinei Capitolia, una dintre cele sapte coline 
		ale Romei si este construita din marmura alba de Botticino. Cu o inaltime de 70 de metri si o latime de 135 de metri, monumentul atrage prin coloane 
		corintice, fantani, o sculptura a lui Victor Emmanuel si doua statui ale zeitei Victoria conducand quadriga. Desi multi spuneau ca Il Vittoriano nu se 
		potriveste cu arhitectura din zona, merita sa il vizitati, fie si numai pentru privelistea pe care o ofera de pe acoperis.</p>
		<p>Daca tot ati ajuns aici, in momentul in care priviti spre Piazza Venezzia, veti observa in stanga Palazzo Venezzia, palat ce a dat numele cunoscutei
		piete. Este una dintre cele mai vechi cladiri renascentiste din Roma si a fost folosita pe post de resedinta papala pana cand Papa Pius al IV-lea a 
		incredintat cladirea orasului Venetia, care a folosit-o ca sediu pentru amabasada. Astazi, Palazzo Venezzia a devenit muzeu si gazduieste exponate 
		istorice, de arta decorativa, tapiterii, picturi renascentiste, ceramica, armuri si sculpturi. In dreapta palatului este o alta cladire importanta, 
		Palazzo Bonaparte, numit astfel dupa Letizia Bonaparte, mama Imparatului Napoleon I, iar peste drum se gaseste Palazzo Generali, construit intre 1906 
		si 1911 ca o copie a Palatului Venezia.</p>
		
		<ol start="5">
			<li id="vatican">Vatican</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Roma/vatican.jpg" alt="St. Peter's square" title="St. Peter's square">
			<figcaption>St. Peter's Square│&#169; Walkerssk / Pixabay</figcaption>
		</figure>
		<p>Desi, in teorie, <strong>Vatican</strong> este o alta tara ce se afla in interiorul Romei, nu puteti face un tur in capitala Italiei fara sa il vizitati. Voi 
		incepe prin a va spune ca Vaticanul este cel mai mic stat independent din lume, pentru ca ocupa o suprafata totala de 0,44 de kilometri patrati 
		si este resedinta a aproximativ 800 de locuitori. In interior, puteti vizita Palatul Vatican si gradinile, Capela Sixtina, Basilica Sf. Petru si 
		Piata Sf. Petru, atractii turistice ce va vor impresiona prin privelisti, constructii legendare, dar si prin opere de arta faimoase in intreaga lume.</p>
		<p>Piata Sf. Petru a fost realizata intre anii 1660 si 1667 de catre arhitectul Gian Lorenzo Bernini si impresioneaza prin marimea si detaliile 
		arhitecturale. In centrul pietei puteti admira un obelisc vechi egiptean despre care se spune ca ar avea in jur de 4000 de ani. Impreuna cu crucea 
		din varf, acesta atinge aproape 40 de metri inaltime. Piata Sf. Petru este dominata de Basilica Sf. Petru, care este cea mai mare si mai importanta 
		biserica din lume, avand o lungime de 218 metri, o latime de aproximativ 71 de metri si, impreuna cu cupola, are o inaltime de peste 133 de metri. 
		Suprafata totala este de aproximativ 23.000 de metri patrati si poate sa gazduiasca simultan in interior peste 20.000 de credinciosi. O bijuterie 
		arhitecturala impresionanta, basilica fost ridicata acum mai bine de 500 de ani si ascunde altare, numeroase monumente istorice si un interior sublim, 
		impresionand prin elemente decorative, materiale pretioase folosite pentru constructie si colectia de opere de arta. Printre acestea se numara statuia 
		in bronz a Sfantului Petru, sculptura <i>Pieta</i> creata de Michelangelo Buonarroti, Baldachinul Sfantului Petru, creat de Gian Lorenzo Bernini si multe 
		alte opere celebre ale lui Rafael, Michelangelo si Bramante.</p>
		<p>O alta atractie importanta este complexul muzeistic Vatican, unde veti gasi mai multe muzee ce gazduiesc importante lucrari de arta ale romanilor: 
		sculpturi, picturi, harti, gradini si multe altele, majoritatea din epoca renascentista si mai vechi. Muzeul principal se termina glorios cu una 
		dintre capodoperele lumii – Capela Sixtina. Dedicata Adormirii Maicii Domnului, principala capela a Palatului Apostolic a fost construita intre anii 
		1475 si 1481 si isi datoreaza numele Papei Sisto IV della Rovere. Pe peretii capelei puteti sa admirati numeroase fresce care apartin celor mai faimosi
		artisti italieni din a doua jumatate a secolului al XV-lea, cum ar fi Sandro Botticelli, Cosimo di Lorenzo Rosselli, Perugino, Pinturicchio, Domenico 
		Ghirlandaio, Luca Signorelli, Piero di Cosimo si multi altii. Totusi, ceea ce face aceasta capela unica sunt picturile lui Michelangelo: plafonul cu 
		scenele centrale din <i>Facerea Lumii</i> si fresca uriasa a <i>Judecatii de Apoi</i>, una dintre cele mai importante lucrari ale artistului, dar si <i>Cina cea de 
		Taina</i> de pe zidul altarului, opera a lui Cosimo Rosselli.</p>
		
	</section>



</main>
	
</body>
</html>