<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Vizitarea orasului Viena, capitala Austriei">
	<meta name="keywords" content="Viena, Austria,vizita,obiectiv,turist,Prater,Mariahilferstrasse,palat,catedrala,primarie">
	<meta name="author" content="Stoian Andreea">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Viena, Austria</title>
	<link rel="stylesheet" href="resurse/stilizare/stil_general.css">
	<link rel="stylesheet" href="resurse/stilizare/meniu.css">
	<link href="favicon.ico" rel="icon" type="image/x-icon">
	<link href='https://fonts.googleapis.com/css?family=El%20Messiri' rel='stylesheet'>
</head>
<body>
	<header>
		<%-include("../Template/header")%>
	</header>
	
	<main>
	<a href="#" class="scroll-up">^</a>
	<h1>Viziteaza Viena, capitala Austriei</h1>
	<figure class="add_padding">
		<img class="imagine" src="resurse/imagini/Viena/viena.jpg" alt="Cladiri Viena" title="Cladiri Viena">
		<figcaption>Cladiri din Viena│&#169; cocoparisienne / Pixabay</figcaption>
	</figure>
	<blockquote cite="https://austria.directbooking.ro/prezentare-viena-informatii-poze-imagini-2568.aspx">Cu o populatie ce numara in jur de doua milioane de
	locuitori, <strong>Viena</strong> a devenit cea mai populara destinatie turistica urbana din Austria. Pentru persoanele romantice sau cu o inclinatie pentru istorie, Viena
	reprezinta un oras de vis. Obiective turisitice si atractii pot fi gasite la tot pasul fie ca ratacesti pe stradute inguste sau prin piete medievale, fie 
	ca vizitezi Palatul Schonbrunn sau Palatul Imperial Hofburg, pe urmele lui Sisi si ale imparatului Frantz Iosef, sau pur si simplu te plimbi pe 
	impresionantul bulevard Ring. Viena imbina perfect infrastructura si confortul unui oras modern cu atmosfera rupta din istoria sa veche de secole ce poate
	inspira pe oricine viziteaza orasul.</blockquote>
	<blockquote cite="https://austria.directbooking.ro/prezentare-viena-informatii-poze-imagini-2568.aspx">Pe langa monumente si latura sa plina de istorie, 
	Viena ofera turistilor si o plenitudine de atractii culturale. Teatru clasic sau modern, opera sau opereta, film sau festivale de dans, expozitii si 
	concerte - toate acestea se gasesc in Viena. Acest oras ce respira cultura este plin de evenimente si manifestari interesante ce asteapta sa fie 
	descoperite, pe parcursul intregului an, de aceea nu prea conteaza cand alegi sa vizitezi Viena pentru ca sigur are ceva frumos de oferit. Pentru 
	turistii care nu au inclinatii atat de puternice spre cultura, Viena are faimoasele sale cafenele sau restaurante pline de specilitati culinare.</blockquote>
	
	<section>
		<h2>Obiective turistice</h2>
		<ol class="bookmark">
			<li><a href="#palat">Palatul Schonbrunn</a></li>
			<li><a href="#catedrala">Catedrala Sf. Stefan</a></li>
			<li><a href="#primaria">Primaria din Viena - Rathaus Viena</a></li>
			<li><a href="#prater">Parcul de distractii Prater</a></li>
			<li><a href="#strasse">Mariahilferstrasse</a></li>
		</ol>		
	</section>
	<section>
		<h2>Obiective turistice</h2>
		<ol>
			<li id="palat">Palatul Schonbrunn</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Viena/palatul_schonbrunn.jpg" alt="Palatul Schonbrunn" title="Palatul Schonbrunn">
			<figcaption>Palatul Schonbrunn│&#169; Ymon / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/palatul-schonbrunn.html"><strong>Palatul Schonbrunn</strong> este fosta resedinta de vara a familiei 
		imperiale. Inca de la inaugurarea sa in anul 1870, in timpul domniei Mariei Teresa, palatul a fost resedinta preferata de monarhii habsburgi. Palatul 
		se afla la aproximativ sase kilometri de centrul orasului Viena si se poate ajunge foarte usor la el cu metroul. Intreaga zona, inclusiv gradinile 
		sale vaste, ocupa aproximativ 176 de hectare si va trebui sa va rezervati cel putin o jumatate de zi pentru a vizita splendidul palat Schonbrunn si 
		gradinile sale.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/palatul-schonbrunn.html">O poarta principala, flancata de doua obeliscuri duce spre 
		o gradina foarte ampla, decorata cu doua fantani impozante; una are figuri alegorice ce intruchipeaza Dunarea, Inn-ul si raul Ems iar cea de-a doua 
		cu sculpturi ce reprezinta Transilvania, Galitia si Lodomeria. Drept in fata se gaseste cladirea principala a complexului ce are in spate gradinile. 
		In partea dreapta se afla Teatrul Schonbrunn construit in 1767 in stil Rococo. Portile din dreapta si stanga se deschid spre gradini, de unde aveti o 
		mai buna priveliste spre intregul complex. Pe partea stanga privind dinspre gradini se gaseste Wagenburg (sala Trasurilor), cea care gazduieste 
		colectia imperiala de trasuri, calesti si sanii. In partea dreapta se afla orangeria, unde plante si flori erau adapostite pe perioada iernii pentru a 
		le proteja de vicisitudinile vremii. Palatul central masoara nu mai putin de 175 de metri latime si are o fatada simetrica in stil baroc. Toate 
		cladirile sunt zugravite intr-o combinatie de galben deschis si ocru, model ce a fost rapid copiat de multe resedinte de prin intreaga Austrie.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/palatul-schonbrunn.html">In vremurile sale de glorie, aproximativ o mie de oameni 
		locuiau in cele 1441 de camere si sali ale complexului. Aproximativ patruzeci dintre acestea, apartamentele de stat si camerele lui Franz Iosef si 
		ale Elisabetei (Sissi), sunt deschise spre vizitare. Interiorul in stil Rococo al apartamentelor de la Schonbrunn este mult mai luxos decat 
		apartamentele mai degraba sobre de la Palatul Imperial Hofburg. Unele, in special Millionenzimmer, sunt de-a dreptul somptuoase. Alte camere de 
		ramarcat sunt cabinetul Chinez, o camera decorata cu portelan. In aceasta camera, Imparateasa Maria Teresa gazduia intalniri cu consilierii sai. In 
		camera chinezeasca albastra, decorata cu motive albastre orientale, Carol I si-a semnat abdicarea in anul 1918. O alta camera, mult mai inchisa este 
		camera Vieux-Lacque, unde Maria Teresa si-a petrecut o mare parte a timpului dupa ce-a devenit vaduva. Spiegelsaal, Sala Oglinzilor, a fost cadrul 
		unui duet intre tanarul Mozart si sora sa, sub privirile Mariei Teresa. Imediat langa, se afla Camera Rosa, denumita astfel dupa artistul care a 
		creat frescele cu peisajele de pe pereti.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/palatul-schonbrunn.html">Parcul foarte vast este situat pe un teren valurit din spatele 
		palatului, care facea parte din terenul de vanatoare. A fost creat intre anii 1705 si 1706 de Jean Trehet in stil francez. Intre 1753 si 1775 in 
		timpul domniei Mariei Teresa, parti ale parcului au fost refacute in stil baroc de catre Ferdinand von Hohenberg. Centrul parcului inca este format 
		din randuri de flori aliniate si flancate de randuri de statui. Acestea duc spre o fantana mare inchinata lui Neptun. In jurul randurilor de flori se 
		gasesc ornamente florale in forma de stea in jurul a doua fantani cunoscute sub numele de Najadenbrunnen. In spatele fantanii lui Neptun, o alee 
		intortocheata duce la Gloriette, o arcada impresionanta ce se afla in varful dealului Schonbrunn. Zona din apropiere de Gloriette este mai putin 
		formala si are chiar niste portiuni ce seama cu o padurice. In intregul parc se gasesc un numar de monumente, cladiri si bazaconii arhitectonice cum 
		ar fi o falsa ruina romana si un obelisc foarte mare.</blockquote>
		
		<ol start="2">
			<li id="catedrala">Catedrala Sf. Stefan</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Viena/catedrala_sf_stefan.jpg" alt="Catedrala Sf. Stefan" title="Catedrala Sf. Stefan">
			<figcaption>Catedrala Sf. Stefan│&#169; phtorxp / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/catedrala-sfantul-stefan-viena.html"><strong>Catedrala Sf Stefan (Stephansdom)</strong> a supravietuit 
		multor razboaie si a devenit simbolul libertatii Vienei. Cladirea in stil gotic a fost construita in anul 1147 dar acoperisul sau din tigla sub forma 
		de diamant, care o face si atat de deosebita de alte catedrale celebre a fost adaugat in anul 1952. Catedrala Sf Stefan a fost subiectul multor carti,
		poze si studii. Unicitatea catedralei precum si multitudinea de detalii fac din catedrala Sf Stefan, o comoara a arhitecturii.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/catedrala-sfantul-stefan-viena.html">Altarele, arcadele, turnurile, imaginile, fiecare 
		detaliu are scopul si istoria sa. Clopotul catedralei este unul din cele mai mari din lume si a fost facut din fierul obtinut dintr-un tun capturat de 
		la turci in anul 1683. Clopotul rasuna in fiecare an in oras anuntand venirea Anului Nou. Catedrala Sf Stefan a fost de cateva ori distrusa de foc 
		spre sfarsitul celui de-al doilea razboi mondial. Dar pentru ca toata lumea a dat o mana de ajutor, catedrala a fost reconstruita in doar sapte ani: 
		emblema Austriei si simbolul identitatii austriace a renascut inca o data din propria-i cenusa.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/catedrala-sfantul-stefan-viena.html">Cu aproape trei milioane de vizitatori pe an, 
		Catedrala Sf Stefan este atractia numarul unu in oras. Puteti urca si pe catedrala: turnul sudic sau turnul nordic (Pummerin).</blockquote>
		
		<ol start="3">
			<li id="primaria">Primaria din Viena - Rathaus Viena</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Viena/primaria.jpg" alt="Primaria din Viena" title="Primaria din Viena">
		</figure>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/primaria-vienei.html"><strong>Primaria din Viena</strong> este una dintre cele mai frumoase cladiri din
		multitudinea de frumuseti arhitecturale pe care le are acest oras. Proiectata de arhitectul Friedrich Schmidt, cladirea a fost inaltata intre anii 
		1872 si 1883. Arhitectura de pe Bulevardul Ring este foarte variata din punct de vedere al stilurilor arhitectonice folosite si incarcata de istorie;
		de-a lungul timpului aceasta imbinare a devenit un stil arhitectonic in felul sau. Cu toate acestea, pentru cladirea primariei, arhitectul a folosit 
		un singur stil dintr-o epoca aparte.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/primaria-vienei.html">Primaria a fost contruita in stil gotic, cu un turn asemanator 
		cu cel al catedralelor gotice. Epoca gotica a coincis cu dezvoltarea accelerata a oraselor si cu aparitia unei clase sociale numita burghezie urbana. 
		In varful turnului se afla statuia unui om cunoscuta sub numele de Rathausmann, unul dintre simbolurile Vienei. Statuia celui ce vegheaza asupra Vienei
		are o inaltime de 5.4 m (3.4 m fara steagul pe care il poarta) si cantareste 650 de kilograme. Statuia acestui cavaler medieval a fost modelata pe 
		armura Imparatului Maximilian I. O sfera ce cantareste peste 800 de kg si care actioneaza ca un fel de contragreutate, ajuta statuia sa ramana in 
		picioare chiar si in conditii de vant puternic sau furtuna. In 1985 un atelier din Viena a fost contractat pentru restaurarea statuii Rathausmann. 
		Ca o surpriza la sfarsitul lucrarilor de restaurare, mesterii atelierului au prezentat o replica exacta a statuii care poate fi vazuta in Rathauspark, 
		parcul din fata Primariei.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/primaria-vienei.html">Astazi cladirea Primariei din Viena este sediul central al 
		administratiei municipale a orasului si peste 2000 de oameni lucreaza aici. Vizitatorii vor fi impresionati de salile impozante ale primariei care 
		destul de des asigura un cadru placut pentru diverse evenimente cum ar fi: conferinte de presa, concerte sau baluri.</blockquote>
	
		<ol start="4">
			<li id="prater">Parcul de distractii Prater</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Viena/prater.jpg" alt="Parcul de distractii Prater" title="Parcul de distractii Prater">
			<figcaption>Parcul de distractii Prater│&#169; amek / Pixabay</figcaption>
		</figure>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/parcul-prater-viena.html">Terenul pe care este construit <strong>Parcul Prater</strong> a fost mentionat 
		prima oara in anul 1162 atunci cand Imparatul Friederich I a dat terenul unei familii de nobili numita Prato. In anul 1560 Imparatul Maximilian al 
		II-lea a hotarat ca pe suprafata sa sa se organizeze vanatori, insa mai tarziu Imparatul Rudolf al II-lea le-a interzis braconierilor sa mai intre 
		in Prater. Pe 7 aprilie 1766 Imparatul Iosef a declarat Praterul teren pentru distractia poporului, si a permis organizarea catorva cafenele ceea ce 
		a reprezentat inceputul Praterului de astazi.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/parcul-prater-viena.html">Probabil cea mai cunoscuta atractie din parc este roata 
		imensa de 65 de metri inaltime de unde puteti admira toata Viena. Pe langa roata, parcul include 250 de atractii cum ar fi: carturi, trenul groazei,
		trenul fanteziei, plimbari cu barcute, sala oglinzilor (unde va puteti vedea mai slab sau mai gras), multe mountain rousse-uri, carusele, minigolf, 
		biliard precum si multe restaurante si cafenele.</blockquote>
		
		<ol start="5">
			<li id="strasse">Mariahilferstrasse</li>
		</ol>
		<figure class="ot">
			<img src="resurse/imagini/Viena/mariahilferstrasse.jpg" alt="Mariahilferstrasse" title="Mariahilferstrasse">
		</figure>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/mariahilferstrasse.html"><strong>Maria Hilf</strong> este in sectorul 6 din Viena si foarte aproape de 
		centrul orasului. Este o zona foarte populata cu multe cladiri rezidentiale. Pe langa Universitatea tehnologica din Viena, in Maria Hilf puteti gasi 
		si Conservatorul Franz Schubert. Shopping-ul la Viena este un motiv de city-break in sine si Mariahilferstrasse este una dintre destinatiile pe care 
		iubitorii de cumparaturi nu le pot rata sub nicio forma.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/mariahilferstrasse.html">In partea de nord a cartierului se afla <strong>Mariahilferstrasse</strong>,
		cea mai importanta strada de cumparaturi. Ea este impartita in doua parti: partea interioara si cea exterioara. Reputatia de cea mai importanta strada 
		de shopping din Austria se datoreaza mai ales partii interioare (Innere Mariahilferstrasse). Aici puteti gasi multe magazine precum: Esprit, C&A, 
		Clinique, Nike, Salamander, Swarovski, Tom Tailor, Zara, Samsonite, Only, Levis, Humanic, H&M, Jones, L’Occitane, New Yorker, Orsay, Pimkie, Puma, 
		Promod, Swatch, etc. Aglomeratia si densitatea mare de centre comerciale si magazine se datoreaza si faptului ca zona este bine pozitionata fata de 
		magistrala U3 de metrou. Partea exterioara poate fi explorata cu tramvaiul, dar multitudinea de magazine ce se gasesc in partea dinspre interiorul 
		orasului lipseste. Pe de alta parte aceasta zona este foarte cunoscuta pentru prostitutia ilegala.</blockquote>
		<blockquote cite="https://www.tvl.ro/viena/obiective-turistice/mariahilferstrasse.html">Mariahilferstrasse a suferit modificari importante in anii 90 
		cand s-a construit si metroul care sa o deserveasca. Au fost construite trotuare late de zece metri pe ambele parti si au fost plantati copaci. In 
		perioada sarbatorilor de iarna Mariahilferstrasse este transformata in zona pietonala pentru a permite milioanelor de oameni sa isi faca cumparaturile.
		Mariahilferstrasse se afla foarte aproape de Cartierul Muzeelor din Viena (Museumquartier).</blockquote>


	</section>



</main>
	
</body>
</html>